<div class="container text-white">
    <h2>Customers Data</h2>
    <!-- <h1>hello {{parentData}}</h1> -->
    <!-- <h1>Welcome {{name}}</h1> -->
    <!-- <button (click)="fireEvent()">Click</button> -->
    <div class="row" *ngFor="let data of parentData;index as i">
        <div class="col-2 m-1">
            <h3>{{data}}</h3>
        </div>
        <div class="col-3 m-1">
            <button type="button" class="btn btn-danger" (click)="edit(i)" data-toggle="modal" data-target="#exampleModal">Edit {{i+1}}</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mb-0" id="exampleModalLabel" style="mix-blend-mode: difference;">Edit Customer</h3>
                <button id="closeModalButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <h5 style="mix-blend-mode: difference;">Customer Name:</h5>
                <input type="text" id="custName" class="form-control" aria-describedby="emailHelp" placeholder="Enter Customer Name" #InputText>
                <!-- (keypress)="myMethod(myInput.value)" -->

            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="closeModal" class="btn btn-primary" (click)="update()">update</button>
            </div>
        </div>
    </div>
</div>