<div class="bg">
    <div class="container py-5">
        <div class="row-12 mt-5">
            <div class="col-6 offset-3">
                <!-- <mat-card> -->
                <div class="card ">
                    <h2 class="card-header text-center">Login</h2>
                    <div class="card-body">
                        <form class="example-form" [formGroup]="loginForm">
                            <div class="row ">
                                <div class="col-sm-12 mb-3 ">
                                    <input type="number" class="form-control" formControlName="username" placeholder="username" appNumber>
                                    <small *ngIf="username && username.invalid && username.touched" class="form-text text-danger">Please Enter username ID.</small>
                                    <!-- <small *ngIf="username && username.invalid && username.pattern"  class="form-text text-danger">Invalid Input</small> -->
                                </div>
                                <div class="col-sm-12 mb-3 ">
                                    <input type="password" class="form-control" formControlName="password" placeholder="password" appNumber>
                                    <small *ngIf="password && password.invalid && password.touched" class="form-text text-danger">Please Enter password.</small>
                                    <!-- <small *ngIf="password && password.invalid && password.pattern" class="form-text text-danger">Invalid Input</small> -->
                                </div>
                            </div>
                            <a class="text-decoration-none" routerLink="/register">If you Don't have and account ? Then Register</a>
                            <div class="example-button-row">
                                <br>
                                <button [disabled]="loginForm.invalid" type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>
                               
                            </div>
                        </form>
                    </div>
                </div>
                <h1 class="mt-5"></h1>
            </div>
        </div>
    </div>
</div>