.table {
    width: 100%;
}
.taskList{
    width:  8rem;
}
.task{
    float: right;
    top: 20px;
}

.thStyle{
    color: Blue;
    background-color: white;
    font-size: 17px;
    font-family: ui-serif;
}

.tdStyle{
    color: black;
    background-color: white;
    font-size: 17px;
    font-family: ui-serif; 
}

.table{
    width: 64rem;
    margin-left: 8rem;
}