
<div>
    <h2 class="container">
        <div class="text-white">Add Task Details List</div>
    </h2>

    <button for="reveal-table" class="btn btn-primary task" (click)="addTask()">Add Task</button>
    
    <hr style="margin-top: -1rem;">

<!-- <table border="2" style="margin-left: 7rem;">
    <thead class="thStyle">
        <th class="taskList">Title</th>
        <th class="taskList">Customer Name</th>
        <th class="taskList">Assign By</th>
        <th class="taskList">Assigned Date</th>
        <th class="taskList"> Due Date</th>
        <th class="taskList">Priority</th>
        <th class="taskList">status</th>
        <th class="taskList">Action</th>
    </thead>
    <tbody>
      <tr *ngFor = "let task of TaskList" class="tdStyle">
          <td>{{task.Title}}</td>
          <td> {{task?.LeadName ? task?.LeadName:'-' }}</td>
          <td> {{task.AssignedByUserName}}</td>
          <td> {{task.CreateDate | date }}</td>
          <td>{{task.TaskEndDate | date}}</td>
          <td> {{task.Priority}}</td>
          <td>{{task.TaskStatus}}</td>
          <td (click)="deleteTask(task.TaskId)" style="cursor: pointer;">Delete</td>
      </tr>
   
    </tbody>
</table>     -->


<table class="table table-bordered table-sm" mdbTable mdbTableScroll scrollY="true" >
    <thead>
      <tr style="background-color: white;">
        <th scope="col">Title</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Assign By</th>
        <th scope="col">Assign Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor = "let task of TaskList" class="tdStyle">
        <th>{{task.Title}}</th>
        <td>{{task?.LeadName ? task?.LeadName:'-' }}</td>
        <td>{{task.AssignedByUserName}}</td>
        <td>{{task.CreateDate | date }}</td>
        <td>{{task.TaskEndDate | date }}</td>
        <td>{{task.Priority }}</td>
        <td>{{task.TaskStatus }}</td>
        <td (click)="deleteTask(task.TaskId)" style="cursor: pointer;color: red;">Delete</td>
      </tr>
    </tbody>
  </table>

</div>

