<div class="container text-white">
    <!-- <h1>{{message}}</h1>
    <app-child (childEvent)="message=$event" [parentData]="name"></app-child> -->
    <br>
    <app-child (childEvent)="message=$event" (childEvent1)="message1=$event" [parentData]="customer"></app-child>
    <!-- <app-child (childEvent1)="message1=$event" [parentData]="customer"></app-child> -->
    <!-- <div class="row" *ngFor="let data of customer;index as i">
        <div class="col-3 m-1">
            <h3>{{data}}</h3>
        </div>
        <div class="col-3 m-1"><button class="btn btn-danger" type="button">Edit {{i}}</button></div>
    </div> -->
    <!-- <h1>{{message}}</h1> -->
</div>