<div class="container" style="width: 40rem;">

<h2>{{title}}
    <button (click)="closeDialog()" type="button" mat-raised-button style="float: right;"> X </button>
</h2>
<hr>
<!-- 
<div class="container"> -->
        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChange()">
            <mat-tab >
                <ng-template mat-tab-label>
                    Assign to Others
                </ng-template>
                <ng-template matTabContent>
                    <form class="kt-form" [formGroup]="addTaskForm">
                        <div class="form-group kt-form__group row kt-padding-20">
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput placeholder="Title*" formControlName="Title" />
                                    <mat-error>Title is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <textarea matInput formControlName="Description" placeholder="Description*"
                                        matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
                                    <mat-error>Description is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input class="kt-pointer" matInput placeholder="Attach File"
                                        [value]="displayFileName" (click)="openFile()" readonly />
                                    <input formControlName="Image" hidden />
                                    <input #imageFileInput id="imageFileInput" type="file"
                                        (change)="uploadFile($event.target)" hidden>
                                </mat-form-field>
                                <div class="kt-remove-input-value" (click)="removeFile()" *ngIf="displayFileName">Remove
                                </div>
                            </div>
                           
                            <!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-select placeholder="Lead/Customer Name" formControlName="LeadId">
                                        <mat-form-field class="mat-form-field-fluid w-95 kt-margin-t-10 m-auto">
                                            <input matInput placeholder="Search" #searchlead (keyup)="searchManager(searchlead.value,'lead')" placeholder="Search" autocomplete="off">
                                        </mat-form-field>
                                        <mat-option *ngFor="let lead of leadFilter" [value]="lead.Id">
                                            {{lead.LeadName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput [matDatepicker]="picker" placeholder="Select Due Date*" [min]="current"
                                        formControlName="TaskEndDateDisplay" (click)="picker.open()" readonly/>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error align="start">Please enter
                                        <strong>Due Date</strong></mat-error>
                                    <input matInput formControlName="TaskEndDate" hidden />
                                </mat-form-field>
                            </div>

                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-select placeholder="Select Priority" formControlName="Priority">
                                        <mat-option value="High">High Priority</mat-option>
                                        <mat-option value="Low">Low Priority</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput placeholder="Add Users*" formControlName="UserDisplayIds" />
                                    <mat-error>Users is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            

                        </div>
                    </form>
                </ng-template>
            </mat-tab>
            <mat-tab >
                <ng-template mat-tab-label>
                    Assign to Me
                </ng-template>
            </mat-tab>    
        </mat-tab-group>

        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit text-right">
            <div class="kt-form__actions kt-form__actions--sm kt-padding-15">
                <button class="btn btn-danger" (click)="closeDialog()" type="button" mat-raised-button> Cancel</button>&nbsp;
                
                <!-- <button (click)="onSubmit()" type="button" mat-raised-button color="primary" [disabled]="viewLoading">
                    {{data.Button}}</button>&nbsp;-->

                    <button class="btn btn-primary" (click)="onSubmit()" type="button" mat-raised-button color="primary" >
                        Add</button>&nbsp;
            </div>
        </div>
<!-- </div> -->

</div>