.userBlock:hover {
    cursor: pointer;
}

.kt-remove-file {
    position: relative;
    float: right;
    margin-top: -40px;
    color: red;
    cursor: pointer;
}

.transfromForm {
    transform: translateX(-100%);
}
.mat-form-field{
    width: 36rem;
}