.center {
    text-align: center;
    padding-top: 8%;
    font-size: 4rem;
}

h1 {
    padding-top: 10%;
    text-align: center;
    font-size: 4rem;
}

h3 {
    padding-top: 8%;
    text-align: center;
    font-size: 4rem;
}