
<h2 class="center" [appChangeColor]="color">Welcome to Home Page.... </h2>
<!-- <div class="text-center bg-white mt-4">
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div> -->
<!-- <h5 class="center">{{ (max20.length>20)? (max20 | slice:0:20)+'..':(max20) }}</h5> -->