<div class="home">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/filter" routerLinkActive="active">Task Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/parent" routerLinkActive="active">Parent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/datatable" routerLinkActive="active">DataTable</a>
            </li>
        </ul>

    </nav>
    <button type="button" class="btn btn-danger float-right m-1" (click)="onSubmit()">LogOut</button>
    
    <router-outlet></router-outlet>
</div>